
 <p><%= flash[:notice] %></p>

<div class="useredit">

<h2>User info</h2>

<%= form_for(@user) do |f| %>
    <div>Name</div>
    <%= f.text_field :name, autofocus: true, id:"inputEmail", placeholder:"名前", class: "name" %>


<div class="form-group has-icon">

    </div>
    <div>image</div>
    <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user_image user-edit-form" %>
    
    <label>Introduction</label>
    <%= f.text_field :introduction, class: "introduction" %>

    <br>

  <%= f.submit "updateuser" %>
<% end %>

</div>